<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wkiro.ImageClassification.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  <userSettings>
    <Wkiro.ImageClassification.Gui.Properties.Settings>
      <setting name="DataProviderConfiguration_CropWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="DataProviderConfiguration_CropHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DataProviderConfiguration_TrainFilesLocationPath"
        serializeAs="String">
        <value />
      </setting>
      <setting name="DataProviderConfiguration_FileExtensions" serializeAs="String">
        <value>jpg</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_Layers" serializeAs="String">
        <value>600; 400; 2; 2</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_ProcessingWidth" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_ProcessingHeight" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_TrainDataRatio" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="Training1Parameters_Momentum" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Training1Parameters_Decay" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="Training1Parameters_LearningRate" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="Training1Parameters_UnsupervisedEpochs" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Training2Parameters_Momentum" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Training2Parameters_LearningRate" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="Training2Parameters_SupervisedEpochs" serializeAs="String">
        <value>300</value>
      </setting>
    </Wkiro.ImageClassification.Gui.Properties.Settings>
  </userSettings>
</configuration>
