<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wkiro.ImageClassification.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
  <userSettings>
    <Wkiro.ImageClassification.Gui.Properties.Settings>
      <setting name="GlobalTrainerConfiguration_CropWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_CropHeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="DataProviderConfiguration_TrainFilesLocationPath"
        serializeAs="String">
        <value />
      </setting>
      <setting name="DataProviderConfiguration_FileExtensions" serializeAs="String">
        <value>jpg;png;bmp</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_Layers" serializeAs="String">
        <value>600; 400; 2; 2</value>
      </setting>
      <setting name="DataProviderConfiguration_ProcessingWidth" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DataProviderConfiguration_ProcessingHeight" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="GlobalTrainerConfiguration_TrainDataRatio" serializeAs="String">
        <value>0.8</value>
      </setting>
      <setting name="Training1Parameters_Momentum" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Training1Parameters_Decay" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="Training1Parameters_LearningRate" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="Training1Parameters_UnsupervisedEpochs" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Training2Parameters_Momentum" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="Training2Parameters_LearningRate" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="Training2Parameters_SupervisedEpochs" serializeAs="String">
        <value>300</value>
      </setting>
    </Wkiro.ImageClassification.Gui.Properties.Settings>
  </userSettings>
  
  <!-- NLog configuration -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

    <!--Variables-->
    <variable name="debugFileLayout"
              value="${longdate} ${uppercase:${level}}&#9;${message} || ${logger}${onexception:${newline}EXCEPTION\:${newline}${exception:type}${newline}${exception:message}${exception:StackTrace}${newline}INNER EXCEPTIONS\:${exception:format=:maxInnerExceptionLevel=5:innerFormat=shortType,message,method:separator=||}${newline}}"/>
    <variable name="releaseLogFileLayout"
              value="${longdate} ${uppercase:${level}}&#9;${message}"/>
    <variable name="debugConsoleLayout"
              value="${logger} || ${message}"/>
    <variable name="logFolderPath"
              value="${basedir}/Log"/>
    <variable name="logFileNameBase"
              value="${shortdate}"/>
    <variable name="logFileExtension"
              value="log"/>

    <!--File targets-->
    <targets async="true">
      <default-wrapper xsi:type="BufferingWrapper" bufferSize="1" slidingTimeout="true"/>
      <target xsi:type="File"
              name="traceFile"
              fileName="${logFolderPath}/${logFileNameBase} trace.${logFileExtension}"
              layout="${debugFileLayout}"/>
      <target xsi:type="File"
              name="debugFile"
              fileName="${logFolderPath}/${logFileNameBase} debug.${logFileExtension}"
              layout="${debugFileLayout}"/>
      <target xsi:type="File"
              name="releaseLogFile"
              fileName="${logFolderPath}/${logFileNameBase}.${logFileExtension}"
              layout="${releaseLogFileLayout}" />
    </targets>

    <!--Misc targets-->
    <targets>
      <target xsi:type="Debugger"
              name="debugConsole"
              layout="${debugConsoleLayout}"/>
      <target xsi:type="NLogViewer"
              name="viewer"
              address="udp://127.0.0.1:9999"/>
    </targets>

    <rules>
      <!--<logger name="*" minlevel="Trace" writeTo="traceFile" />-->
      <logger name="*" minlevel="Debug" writeTo="debugFile" />
      <logger name="*" minlevel="Info" writeTo="releaseLogFile" />

      <!--<logger name="*" minlevel="Trace" writeTo="debugConsole"/>-->
      <logger name="*" minlevel="Debug" writeTo="debugConsole"/>
      <logger name="*" minlevel="Trace" writeTo="viewer"/>
    </rules>
  </nlog>

</configuration>
